/*
wood brown: A89F68;
army green: 41521F;
*/


/*SECTION 1: HEADER*/

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.welcome {
    background: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar-default {
    color: white;
    background-color: transparent;
    border: none;
    margin-left: 80px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: white;
}

#sect1 {
    color: white;
    padding: 120px 0 140px 40px;
    margin-left: 50px;
}

.btn {
    background-color: #41521f;
    border-color: #41521f;
    color: white;
}


/*SECTION 2: INFO 1*/

.row {
    margin: 0;
}

.info1 {
    margin-top: 100px;
    color: #999997;
}

.found-info {
    color: #A89F68;
}

.info2 {
    padding: 0;
}


/*SECTION 3: HELP*/

#sect3 {
    background-color: #A89F68;
    color: white;
    width: 100%;
}

#parraf3 h3 {
    color: #41521f;
    font-weight: bolder;
}

#koala3 {
    border: 10px solid white;
}

#parraf3 {
    padding: 100px;
}

.message,
.dono {
    color: #41521f;
}

#img3 {
    padding: 40px 30px;
}


/* SECTION 4: KOALA IMG */

#koala4 {
    background-image: url(../img/cuatro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#parraf4 {
    color: white;
    padding: 100px 0 780px;
}


/* SECTION 5: HOW TO HELP */

.wehelp {
    margin-top: 70px;
    font-weight: bold;
    font-size: 30px;
}

.icono {
    padding: 50px;
}

.howto h4,
#icon {
    color: #A89F68;
}

#icon {
    font-size: 48px;
    padding: 20px;
}

.howto p {
    color: #999997;
    padding: 20px;
}


/*section carrusel*/

.carrusel {
    width: 100%;
}

.foto {
    width: 100%;
    background-size: cover;
    background-position: center;
}


/* SECTION 6: DONATIONS */

.donations {
    background-color: #a89f68;
    width: 100%;
    color: black;
    padding-bottom: 50px;
}

.how-help {
    padding: 80px 0 50px 0;
    color: #41521f;
    font-weight: bold;
}

.lista {
    line-height: 30px;
}

ul {
    list-style: none;
}

.title {
    font-size: 10px;
    letter-spacing: 4px;
    ;
    font-weight: bold;
}

.fa-usd {
    display: flex;
    align-self: flex-start;
    font-size: 18px;
}

.aud {
    display: flex;
    align-self: flex-end;
    margin-left: 110px;
    font-size: 12px;
}

.amount {
    position: relative;
    font-size: 100px;
    margin-top: 10px;
    width: 120px;
    height: 120px;
    color: white;
}

hr {
    width: 80%;
}


/*SECTION 7: FOOTER*/

.footer {
    background-color: #41521f;
    color: #A89F68;
    padding: 100px;
}

.foo {
    color: white;
    margin-top: -10px;
    margin-bottom: -3px;
}

.mail {
    color: #A89F68;
}

.foot {
    padding: 10px;
}